<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout:="https://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
	<title>WebGenius| Entrar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/css/util.css">
	<link rel="stylesheet" type="text/css" href="login/css/main.css">
<!--===============================================================================================-->

 <style type="text/css">
 
   .text{
     
     color: blue;
     font-weight: bolder;
     font-size: 15px;
     width: 70%;
     background-color: rgba(255,255,255,0.3);
     padding: 4px;
     border-radius: 20px 20px 20px 20px;
     text-align: center;
     
   }
 </style>

</head>
<body onload=“iniciarrelogio();”>
	
	
	
	<div class="limiter">
		<div class="container-login100">
		<div class="container mt-4 lead text mb-3"><em class="" th:text="${mensagem}"></em></div>
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(login/images/login2.jpg);">
					<span class="login100-form-title-1">
						WebGenius
					</span>
				</div>

				<form action="/login" method="post" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Usuário</span>
						<input class="input100" type="text" name="usuario" placeholder="Seu nome" 
						required="required">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" name="senha" placeholder="Palavra Passe"
						 required="required">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="lembrar">
							<label class="label-checkbox100" for="ckb1">
								Recordar-me
							</label>
						</div>

						<div>
							<a href="/Recuperar-Dados" class="txt1">
								Esqueceu a Senha?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Entrar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="login/vendor/jquery/jquery-3.2.1.min.login/js"></script>
<!--===============================================================================================-->
	<script src="login/vendor/animsition/login/js/animsition.min.login/js"></script>
<!--===============================================================================================-->
	<script src="login/vendor/bootstrap/login/js/popper.login/js"></script>
	<script src="login/vendor/bootstrap/login/js/bootstrap.min.login/js"></script>
<!--===============================================================================================-->
	<script src="login/vendor/select2/select2.min.login/js"></script>
<!--===============================================================================================-->
	<script src="login/vendor/daterangepicker/moment.min.login/js"></script>
	<script src="login/vendor/daterangepicker/daterangepicker.login/js"></script>
<!--===============================================================================================-->
	<script src="login/vendor/countdowntime/countdowntime.login/js"></script>
<!--===============================================================================================-->
	<script src="login/js/main.js"></script>
	<script type="text/javascript">

	
</script>

</body>
</html>